# Visual Studio Code
.vs
Backend/TripPlannerBackend.API/Properties/ServiceDependencies/TripPlannerBackendAPI - Web Deploy2/profile.arm.json
Backend/TripPlannerBackend.API/Properties/ServiceDependencies/TripPlannerBackendAPI - Web Deploy3/profile.arm.json
Backend/TripPlannerBackend.API/Properties/ServiceDependencies/TripPlannerBackendAPI - Zip Deploy/profile.arm.json
